<!DOCTYPE html>
<head>
    <title>register</title>
    <script src="axios.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
   
        
        <label for="fullname">fullname:</label>
        <input type="text" id="fullname" name="fullname"><br><br>
        <label for="password">password:</label>
        <input type="text" id="password" name="id"><br><br>
        <label for="email">email:</label>
        <input type="text" id="email" name="email"><br><br>
        <button id="myBtn">Submit</button>

  
</body>
      <script>
        
        const fullname = document.getElementById("fullname")
        const password= document.getElementById("password")
        const email = document.getElementById("email")
        const submit = document.getElementById("myBtn")
        const submitCommand = () => { 
            console.log(id.value)
            axios.post('http://localhost:8080/user',
            {
                
               
                Fullname: fullname.value,
                Password: password.value,
                Email: email.value
                
            }
            )
            .then(response => { console.log(response)}) 
            .catch(function (error) {console.log(error);})
        };
        submit.addEventListener('click', submitCommand);
        
    </script>

</html>